<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{.Meta.Title}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="title">{{.Meta.Title}}</h1>             
            </div>
        </div>
        <div class="row">
            <div class="col">{{.Content}}</div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                {{range $post := .Related}}
                    <li><a href="{{$post.FileName}}">{{$post.Meta.Title}}</a></li>
                {{end}}
                </ul>
            </div>
        </div>
    </div>
</body>

</html>